@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #1D1D1B;
}
#menu-aside {
    width: 246px;
    height: 100%;
    background: #292927;
    border: 1px solid #313130;
}
main {
    width: 100%;
    max-width: 1194px;
    height: 100%;
    background: #1D1D1B;
    border: 1px solid #313130;
    padding: 30px;
}
#top-bar {
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
}
#top-bar h1 {
    font: 600 28px/42px 'Poppins', sans-serif;
    color: #FFF;
}
#cards {
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 30px;
}
#cards > div {
    flex: 1;
    background: #292927;
    border: 1px solid #353532;
    border-radius: 6px;
}
#card-entry .card-header {
    width: 100%;
    background: #54D59F;
}
#card-out .card-header {
    background: #FC7373;
}
#card-total .card-header {
    background: #9B81F6;
}
.card-header {
    border-radius: 6px 6px 0 0;
    text-align: center;
    padding: 4px 0;
}
.card-header h2 {
    font: 600 28px/42px 'Poppins', sans-serif;
    color: #FFF;
}
.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}
.card-content span {
    font: 600 28px/42px 'Poppins', sans-serif;
    color: #FFF;
}
#register {
    margin-top: 30px;
    padding: 21px 40px;
    background: #292927;
    border: 1px solid #353532;
    border-radius: 6px;
}
#register-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.input-field > input {
    padding: 12px;
    background: #292927;
    border: 1px solid #353532;
    border-radius: 6px;
    font: 400 16px/24px 'Poppins', sans-serif;
    color: #FFF;
}
.input-field > input::placeholder {
    font: 400 16px/24px 'Poppins', sans-serif;
    color: #7E7E7D;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.radio-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
    background: #292927;
    border: 1px solid #353532;
    border-radius: 6px;
}
.radio-field {
    display: flex;
    gap: 5px;
    position: relative;
}
.radio-container input[type=radio] {
    accent-color: #7E7E7D;
}
.radio-field label {
    font: 400 16px/24px 'Poppins', sans-serif;
    color: #FFF;
}
#register-button {
    padding: 13px 40px;
    background: #636360;
    border-radius: 8px;
    font: 400 16px/24px 'Poppins', sans-serif;
    color: #FFF;
}